.wrapper {
    width: 90%;
    margin: auto;
}

h1 {
  font-family: 'Rammetto One', cursive;
}

img {
  width: 100%;
}

.col {
  box-sizing: border-box;
  float: left;
  width: 20%;
  padding: 10px;
}

.a1 {

}

.a2 {

}

.a3 {

}

.a4 {

}

.a5 {

}

@media screen and (max-width: 1000px) {
  .col {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .col {
    width: 100%;
  }
}
