.wrapper {
    width: 90%;
    margin: auto;
}

img {
  width: 100%;
}

.col {
  box-sizing: border-box;
  float: left;
  width: 20%;
  padding: 10px;
}

.a1 {

}

.a2 {

}

.a3 {

}

.a4 {

}

.a5 {

}
